<clr-datagrid>
    <clr-dg-column>Nome</clr-dg-column>
    <clr-dg-column>Descrição</clr-dg-column>
    <clr-dg-column>Categoria</clr-dg-column>
    <clr-dg-column>Projetos</clr-dg-column>

    <clr-dg-row>
        <clr-dg-cell>Ong de cachorro</clr-dg-cell>
        <clr-dg-cell>Recolhimento de animais abandonados</clr-dg-cell>
        <clr-dg-cell>Animais</clr-dg-cell>
        <clr-dg-cell>5</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-row>
        <clr-dg-cell>Ong de asilos</clr-dg-cell>
        <clr-dg-cell>Auxílio em asilos</clr-dg-cell>
        <clr-dg-cell>Humanitáro</clr-dg-cell>
        <clr-dg-cell>15</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-row>
        <clr-dg-cell>Salvem as tartarugas</clr-dg-cell>
        <clr-dg-cell>Parem de usar canudos</clr-dg-cell>
        <clr-dg-cell>Animais</clr-dg-cell>
        <clr-dg-cell>5</clr-dg-cell>
    </clr-dg-row>

</clr-datagrid>